<%= render 'header' %>

<div class="internal-forms">
  <%= form_for @house do |f| %>
    <div>
      <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
    </div>

    <div>
      <%= f.text_field :code, placeholder: 'Code', class: 'form-control' %>
    </div>

    <div>
      <%= f.text_field :capacity, placeholder: 'Capacity', class: 'form-control' %>
    </div>

    <div>
      <%= f.text_field :population, placeholder: 'Population', class: 'form-control' %>
    </div>

    <div>
      <%= f.text_field :feed_consumption, placeholder: 'Feed Consumption', class: 'form-control' %>
    </div>

    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>
