<%= render 'layouts/header' %>

<div class = 'dashboard col-md-10', id = 'dashboard'>
  <div class='user-actions'><%= link_to 'Manage Houses', houses_path %></div>
  <div class='user-actions'><%= link_to 'Manage Users', users_path %></div>
  <div class='user-actions'><%= link_to 'Manage Users', users_path %></div>
  <div class='user-actions'><%= link_to 'Manage Users', users_path %></div>
<div>
