<div class="general-forms">
  <div class="form-container col-md-4 col-sm-5 col-xs-7">
    <h3 class="">Create new user</h3>
    <%= form_for @user, html: { class: "signin card-panel" } do |f| %>
      <div class="form-entries">
        <%= f.text_field :name, placeholder: 'New User Name', class: 'form-control' %>
      </div>

      <div class="form-entries">
        <%= f.email_field :email, placeholder: 'New User Email', class: 'form-control' %>
      </div>

      <div class="form-entries">
        <%= f.password_field :password, placeholder: 'New User Password', class: 'form-control' %>
      </div>

      <div>
        <%= f.submit 'Create User', class: 'general-button login-btn' %>
      </div>
    <% end %>
  </div>
</div>
